<div class = "page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>
<div class ="panel panel-info">
    <div class= "panel-heading" style="text-align: center;"><strong>User Profile</strong></div>
<table class = "table">
    <tr>
        <td>Username</td>
        <td>Email</td>
        <td>Password</td>
    </tr>
    <td>{{main.username}}</td>
    <td>{{main.useremail}}</td>
    <td>****************</td>
</table>
</div>