<div class = "page-header">
    <h1>Registration</h1>
</div>

<form ng-submit="register.regUser(regData);">
    <label>Email:</label>
    <input class ="form-control" type="text" name="email" placeholder="please enter email" ng-model="register.regData.email">
    <br>
    <label>Username:</label>
    <input class ="form-control" type="text" name="username" placeholder="please enter username" ng-model="register.regData.username">
    <br>
    <label>Password:</label>
    <input class ="form-control" type="password" name="password" placeholder="please enter password" ng-model="register.regData.password">
    <br>
    <button class ="btn btn-primary" type="submit">Submit</button>
</form>
<br>

<div class ="jumbotron text-center" ng-show="register.loading">
    <span class ="glyphicon glyphicon-repeat spinner"></span>
    <p>loading....</p>
</div>


<div class = "row show-hide-message" ng-show="register.successMsg">
    <div class ="alert alert-success">{{register.successMsg}}</div>
</div>

<br>

<div class = "row show-hide-message" ng-show="register.errorMsg">
    <div class ="alert alert-danger">{{register.errorMsg}}</div>
</div>